   <div id="lead-in">
      <!--          <h1>Congress wants to end our privacy and spy on us with CISPA. Fight back with TMI</h1> -->

      <h2 style="margin-top: 30px;">What is CISPA?</h2>

      <p>A cybersecurity bill that lets any company share your info with anyone. In short, CISPA is the end of meaningful privacy for anyone with personal data on US-based services.</p>

      <h2>What is TMI?</h2>

      <p>They're your inappropriate, awkward, often embarrassing personal details — the kind that the FBI, NSA, CIA, IRS, and local police will soon have access to if CISPA passes.</p>
    </div>

    <div class="wrap" id="twitter">
      <div class="interior">
        <h2 style="padding-top: 20px;">What's the plan?</h2>

        <p>Make Congress embarrassed of their support for CISPA and, well, just embarrassed period.</p>
        <%= render 'tweet' %><br style="clear:both"/>

      </div>
    </div>

    <div class="wrap">
      <div class="buffer">
        <h1>Sound like spying? It is. Write Congress to stop this bill:</h1>
      <%= render 'form' %><br style="clear:both"/>

        <div class="call-to-action">
          <h1>CISPA is the Cybersecurity bill that:</h1>

          <div class="column">
            <h3>Does nothing to secure our infrastructure</h3>

            <p>CISPA contains no provisions to secure the internet, or critical infrastructure <a href="http://www.opencongress.org/bill/112-h3523/news_blogs">read it</a> instead of assuming that data sharing magically solves the problem.</p>
          </div>

          <div class="column">
            <h3>Lets companies share everything with government</h3>

            <p>Its definitions of cybersecurity-related data are so broad that any personal data would qualify. Limits would be easy to defin, but they don’t exist in this bill.</p>
          </div>

          <div class="column">
            <h3>Lets government use data against you, for anything</h3>

            <p>There's not requirement that government use data for cybersecurity. They could use emails to build a criminal case, without a warrant. Any government agancy could get this data: the NSA, FBI, local police — even the IRS!</p>
          </div>

          <div class="column">
            <h3>Overrides all other privacy protections</h3>

            <p>Under CISPA, essential privacy laws governing financial information, medical records, and wiretapping go out the window. Companies’ own privacy promises become moot — CISPA gives them 100% immunity to share.</p>
          </div><%image_tag('shadow.png')%>

          <h1 style="clear: both;"><strong>Want to stop it? Don’t just sign petitions!</strong><br>
          Use this page to write members of Congress directly!</h1>
          <%=image_tag('binoc.badge.png', :style=> "margin-bottom: 30px;")%>
        </div>
      </div>
</div>