<h2>Thank you for contributing to the discussion.</h2><br/>


<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @user.zip %>
</p>
